.about {
  /* background-color: rgb(250, 250, 250); */
  height: 80vh;
  scroll-margin-top: 130px;
}
.about_main {
  display: flex;
  margin: 10%;
}
.about_Me {
  width: 50%;
  /* padding: 3%; */
  margin-right: 10px;
}
.about_text {
  font-size: 1.5em;
  white-space: pre-line;
}
.about_label {
  color: black;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.about_skills {
  margin-left: 10%;
  width: 55%;
  /* padding: 50px; */
}
.skills {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  /* padding: 20px; */
  width: 90%;
}
.skills_skill {
  width: fit-content;
  height: fit-content;
  font-size: 1.3em;
  color: white;
  background-color: #36454f;
  box-shadow: 0 1px 8px 0;
  margin: 10px;
  padding: 2%;
  border-radius: 15px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 300px) and (max-width: 1000px) {
  html {
    font-size: 50%;
  }
  .about {
    height: 55vh;
  }
  .about_main {
    flex-direction: column;
  }
  .about_Me {
    width: 100%;
  }
  .about_skills {
    width: 100%;
    margin-left: 0px;
    margin-top: 10%;
  }
  .skills_skill {
    margin-left: 0px;
  }
}
