.home {
  background-image: url(./../images/home.jpg);
  background-color: grey;
  background-size: cover;
  width: 100%;
  min-width: 100%;
  color: #fff;
  background-position: center;
  height: 100vh;
  max-height: 100em;
  position: relative;
}
.home_main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90em;
  width: 32%;
}

.home_main-salute {
  color: #36454f;
  font-size: 1.7em;
}
.home_main-description {
  color: #36454f;
  font-size: 1.5em;
}
.home_main-name {
  width: fit-content;
  font-size: 3.2em;
  letter-spacing: 1px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  -webkit-text-stroke: 1px #36454f;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fada5e;
}

.home-hero__social-icon {
  height: 30px;
  width: 30px;
}
.social_icons {
  display: flex;
  align-items: center;
  /* margin-right: 20px; */
  width: fit-content;
  margin-left: 26%;
}
.social_icons-style {
  color: #36454f;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.social_link {
  background-color: #fada5e;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 10px;
}
@media only screen and (min-width: 300px) {
  .home_main-name {
    letter-spacing: 0px;
    white-space: nowrap;
  }
  .home_main-description {
    width: 300px;
    letter-spacing: 0px;
    white-space: pre;
  }
}

@media only screen and (max-width: 600px) {
  .home {
    background-image: url(./../images/home-iphone.jpg);
  }
  .home_main {
    left: 28%;
  }
  .home_main-name {
    margin-left: 15%;
  }
  .social_icons {
    margin-left: 40%;
  }
}
